<div id="layout-grid">
  <div id="message-header">
    <div class="align-middle">
      <span>{{(model | async)?.state | async |moduleState}}</span>
    </div>
    <div class="align-middle" (click)="messageHeaderClick()">
      <div id="message-wrap">
        <svg id="message-icon" viewBox="0 0 28 28">
            <path d="M12.44 6.065H15.55V9.175L14.773 16.639H13.218L12.44 9.175V6.065M12.44,18.816H15.55V21.93H12.44V18.816M28 14A14 14 0 0 0 14 0A14 14 0 0 0 0 14A14 14 0 0 0 14 28A14 14 0 0 0 28 14M26 12A12 12 0 0 1 12 26A12 12 0 0 1 2 12A12 12 0 0 1 12 2A12 12 0 0 1 26 12Z"/>
        </svg>
        <span id="messages">{{(activeMessage | async)?.localizedString||"Messages"}}</span>
      </div>
    </div>
  </div>
  <div class="navigation"></div>
  <div #container class="container">
    <div id="main-window">
      <router-outlet></router-outlet>
      <!--<app-build-view></app-build-view>-->
    </div>
    <app-collapse [collapsed]=headerCollapsed>
      <app-message-list></app-message-list>
    </app-collapse>    
  </div>
  <div class="navigation root">
    <div expand #operating="expand" class="node">
      <div (click)="operating.setExpand(operating.expand==0?true:false);">
        <a (click)="operating.setExpand(true); $event.stopPropagation();" [routerLink]="['/home']" [routerLinkActive]="['active']">
          <div class="align-middle">
            <div class="icon-wrap">
              <span>Operating
              </span>              
              <svg class="arrow" viewBox="1 -6 20 20" [class.turn]="operating.expand==0">
                <path d="M19.5 1 L10.5 9 L1.5 1"/>
              </svg>
                <svg class="icon" viewBox="2 3 20 17">
                  <path d="M12 5.69L17 10.19V18H15V12H9V18H7V10.19L12 5.69M12 3L2 12H5V20H11V14H13V20H19V12H22L12 3Z"/>
                </svg>
            </div>
          </div>
        </a>
      </div>
      <div class="expand" [@collapse]="{value:operating.expand, params:{height:operating.expand}}">
        <a class="node" [routerLink]="['/operating/productchange/list']" [routerLinkActive]="['active']">
          <div class="align-middle">
            <div class="icon-wrap">
              <span>Product Change</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div expand #machine="expand" class="node">
      <div (click)="machine.setExpand(machine.expand==0?true:false);">
        <a (click)="machine.setExpand(true); $event.stopPropagation();" routerLink="/machine" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <div class="align-middle">
            <div class="icon-wrap">
              <span>Machine</span>
              <svg class="arrow" viewBox="1 -6 20 20" [class.turn]="machine.expand==0">
                <path d="M19.5 1 L10.5 9 L1.5 1"/>
              </svg>
            </div>
          </div>
        </a>
      </div>
      <div class="expand" [@collapse]="{value:machine.expand, params:{height:machine.expand}}">
        <a class="node" routerLink="/machine/canstation" [routerLinkActive]="['active']">
          <div class="align-middle">
            <div class="icon-wrap">
              <span>Can Station</span>
            </div>
          </div>
        </a>
        <a class="node" routerLink="/machine/traystation" [routerLinkActive]="['active']">
          <div class="align-middle">
            <div class="icon-wrap">
              <span>Tray Station</span>
            </div>
          </div>
        </a>
        <a class="node" routerLink="/machine/casestation" [routerLinkActive]="['active']">
          <div class="align-middle">
            <div class="icon-wrap">
              <span>Case Station</span>
            </div>
          </div>
        </a>
        <a class="node" routerLink="/machine/buildstation" [routerLinkActive]="['active']">
          <div class="align-middle">
            <div class="icon-wrap">
              <span>Build Station</span>
            </div>
          </div>
        </a>
        <a class="node" routerLink="/machine/robot" [routerLinkActive]="['active']">
          <div class="align-middle">
            <div class="icon-wrap">
              <span>Robot</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
